In [2]:
#Q.1 Can you explain the logic and working of the Tower of Hanoi algorithm by writing a Java program?
# How does the recursion work, and how are the movements of disks between rods accomplished?

def tower_of_hanoi(source, destination, helper, n):
  if n == 1:
    print(f"Move disc 1 from {source} to {destination}")
    return

  tower_of_hanoi(source, helper, destination, n-1)
  print(f"move disc {n} from {source} to {destination}")
  tower_of_hanoi(helper, destination, source, n-1)


tower_of_hanoi("A", "B", "C", 3)

Move disc 1 from A to B
move disc 2 from A to C
Move disc 1 from B to C
move disc 3 from A to B
Move disc 1 from C to A
move disc 2 from C to B
Move disc 1 from A to B

In [5]:
#Q.2 Given two strings word1 and word2, return the minimum number of operations required to convert word1 to word2.

def edit_distance(word1, word2):
    n = len(word1)
    m = len(word2)

    if n == 0 or m == 0:
        return max(n, m)

    if word1[n - 1] == word2[m - 1]:
        cost = 0
    else:
        cost = 1

    return min(edit_distance(word1[:n - 1], word2),
               edit_distance(word1, word2[:m - 1]),
               edit_distance(word1[:n - 1], word2[:m - 1]) + cost)


result = edit_distance("transaction", "execution")
print(result)

1

In [7]:
#Q. 3 Print the max value of the array [ 13, 1, -3, 22, 5].

def find_max_value(arr, n):
  if n == 1:
    return arr[0]

  else:
    max_value = find_max_value(arr, n-1)
    if arr[n-1] > max_value:
      max_value = arr[n-1]
    return max_value

result = find_max_value([13, 1, -3, 22, 5], 5)
print(result)

22

In [11]:
#Q.4 Find the sum of the values of the array [92, 23, 15, -20, 10].

def find_sum(arr, n):
  if n == 1:
    return arr[0]
  else:
    return arr[n-1] + find_sum(arr, n-1)

result = find_sum([92, 23, 15, -20, 10], 5)
print(result)

120

In [6]:
#Q.5 Given a number n. Print if it is an armstrong number or not.An armstrong number is a number if the sum
# of every digit in that number raised to the power of total digits in that number is equal to the number.

def is_armstrong_number(n, num_length):
    if n == 0:
        return True

    digit = n % 10
    sum = digit ** num_length

    return sum + is_armstrong_number(n // 10, num_length)

num = 153
len = len(str(num))
result = is_armstrong_number(num, len)
if result:
  print(f"{num} is an armstrong number")
else:
  print(f"{num} is not an armstrong nunber")

153 is an armstrong number